<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Iot_Panel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <Iot_Panel.Properties.Settings>
            <setting name="tl1" serializeAs="String">
                <value />
            </setting>
            <setting name="tl2" serializeAs="String">
                <value />
            </setting>
            <setting name="tl3" serializeAs="String">
                <value />
            </setting>
            <setting name="tl4" serializeAs="String">
                <value />
            </setting>
            <setting name="tl5" serializeAs="String">
                <value />
            </setting>
            <setting name="tl6" serializeAs="String">
                <value />
            </setting>
            <setting name="ts1" serializeAs="String">
                <value />
            </setting>
            <setting name="ts2" serializeAs="String">
                <value />
            </setting>
            <setting name="ts3" serializeAs="String">
                <value />
            </setting>
            <setting name="ts4" serializeAs="String">
                <value />
            </setting>
            <setting name="ts5" serializeAs="String">
                <value />
            </setting>
            <setting name="ts6" serializeAs="String">
                <value />
            </setting>
            <setting name="ip" serializeAs="String">
                <value />
            </setting>
            <setting name="port" serializeAs="String">
                <value />
            </setting>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
        </Iot_Panel.Properties.Settings>
    </userSettings>
</configuration>